BreastCancerWisconsinDownsampled/Original/StrictExamples
BreastCancerWisconsinDownsampled/Original/strict_examples.csv
BreastCancerWisconsinDownsampled/Original/strict_examples_cp.csv
BreastCancerWisconsinDownsampled/Transformed
BreastCancerWisconsinDownsampled/ASP/User*

CarEvaluation/Original/StrictExamples
CarEvaluation/Original/strict_examples.csv
CarEvaluation/Original/strict_examples_cp.csv
CarEvaluation/Transformed
CarEvaluation/ASP/User*

CreditApprovalDownsampledFurther/Original/StrictExamples
CreditApprovalDownsampledFurther/Original/strict_examples.csv
CreditApprovalDownsampledFurther/Original/strict_examples_cp.csv
CreditApprovalDownsampledFurther/Transformed
CreditApprovalDownsampledFurther/ASP/User*

GermanCreditDownsampledFurther/Original/StrictExamples
GermanCreditDownsampledFurther/Original/strict_examples.csv
GermanCreditDownsampledFurther/Original/strict_examples_cp.csv
GermanCreditDownsampledFurther/Transformed
GermanCreditDownsampledFurther/ASP/User*

IonosphereDownsampledFurther/Original/StrictExamples
IonosphereDownsampledFurther/Original/strict_examples.csv
IonosphereDownsampledFurther/Original/strict_examples_cp.csv
IonosphereDownsampledFurther/Transformed
IonosphereDownsampledFurther/ASP/User*

MammographicMassDownsampled/Original/StrictExamples
MammographicMassDownsampled/Original/strict_examples.csv
MammographicMassDownsampled/Original/strict_examples_cp.csv
MammographicMassDownsampled/Transformed
MammographicMassDownsampled/ASP/User*

MushroomDownsampled/Original/StrictExamples
MushroomDownsampled/Original/strict_examples.csv
MushroomDownsampled/Original/strict_examples_cp.csv
MushroomDownsampled/Transformed
MushroomDownsampled/ASP/User*

NurseryDownsampledFurther/Original/StrictExamples
NurseryDownsampledFurther/Original/strict_examples.csv
NurseryDownsampledFurther/Original/strict_examples_cp.csv
NurseryDownsampledFurther/Transformed
NurseryDownsampledFurther/ASP/User*

SpectHeartDownsampledFurther/Original/StrictExamples
SpectHeartDownsampledFurther/Original/strict_examples.csv
SpectHeartDownsampledFurther/Original/strict_examples_cp.csv
SpectHeartDownsampledFurther/Transformed
SpectHeartDownsampledFurther/ASP/User*

TicTacToe/Original/StrictExamples
TicTacToe/Original/strict_examples.csv
TicTacToe/Original/strict_examples_cp.csv
TicTacToe/Transformed
TicTacToe/ASP/User*

VehicleDownsampledFurther/Original/StrictExamples
VehicleDownsampledFurther/Original/strict_examples.csv
VehicleDownsampledFurther/Original/strict_examples_cp.csv
VehicleDownsampledFurther/Transformed
VehicleDownsampledFurther/ASP/User*

WineDownsampled/Original/StrictExamples
WineDownsampled/Original/strict_examples.csv
WineDownsampled/Original/strict_examples_cp.csv
WineDownsampled/Transformed
WineDownsampled/ASP/User*

